body{
	background-color: #f8f8f8;
}
#container{
}

h1{
	text-align: center;
}
.book-library>img{
	justify-content: center;
}

.book-library{
	width: 600px;
	height: 1450px;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 20px;
	box-shadow: 1px 1px 5px black;
}

.book>img{
	justify-content: center;
	width: 200px;
	height: 300px;
	align-items: center;
	color: #777777;
	margin-top: 10px;
	padding-left: 200px;
}

button{
	padding: 5px;
	width: 550px;
	margin-top: 0px;
	margin-bottom: 10px;
	color: white;
	background-color:#2ecc71;
	border: 2px solid #2ecc71;
	
}

.price-background{
	background-color: rgb(46, 204, 113);
	border-radius: 5px;
	color: rgb(119, 119, 119);
}


